# ignore all files in Amazon Fashion Example directory
Amazon_Fashion_Example/

# ignore all files in atomic data path directory
atomic_data_path/

# ignore all files in the dataset directory
dataset/

# ignore virtual environment
MRSenv/

# ignore discard folder
discard/

# ignore pycache
__pycache__/

# ignore logs
log/
log_tensorboard/
saved/

# ignore smoke test
smoke_test.py

# ignore old atomic files
old_atomic_files/